@charset "utf-8";
/* CSS Document */

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	opacity: 1;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/*specific State styles*/
	/*California*/
		.California .jspTrack
		{
			background-color: rgba(255,217,0,0.25);	
		}
		
		.California .jspDrag
		{
			background: -moz-linear-gradient(left, rgba(255,217,0,0.25) 0%, rgba(255,217,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,217,0,0.25)), color-stop(100%,rgba(255,217,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffd900', endColorstr='#ffd900',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
			
		}
		
		.California .jspArrow
		{
			background: -moz-linear-gradient(left, rgba(255,217,0,0.25) 0%, rgba(255,217,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,217,0,0.25)), color-stop(100%,rgba(255,217,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffd900', endColorstr='#ffd900',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
		
		.California .jspArrow.jspDisabled
		{
			background: none;
			background-color: rgba(255,217,0,0.25);
		}
		
		. California .jspCorner
		{
			background: -moz-linear-gradient(left, rgba(255,217,0,0.25) 0%, rgba(255,217,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,217,0,0.25)), color-stop(100%,rgba(255,217,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,217,0,0.25) 0%,rgba(255,217,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffd900', endColorstr='#ffd900',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
	
	/*Texas*/
		.Texas .jspTrack
		{
			background-color: rgba(107,179,143,0.25);	
		}
		
		.Texas .jspDrag
		{
		background: -moz-linear-gradient(left, rgba(107,179,143,0.25) 0%, rgba(107,179,143,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(107,179,143,0.25)), color-stop(100%,rgba(107,179,143,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406bb38f', endColorstr='#6bb38f',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
			
		}
		
		.Texas .jspArrow
		{
		background: -moz-linear-gradient(left, rgba(107,179,143,0.25) 0%, rgba(107,179,143,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(107,179,143,0.25)), color-stop(100%,rgba(107,179,143,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406bb38f', endColorstr='#6bb38f',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
		
		.Texas .jspArrow.jspDisabled
		{
			background: none;
			background-color: rgba(107,179,143,0.25);
		}
		
		.Texas .jspCorner
		{
		background: -moz-linear-gradient(left, rgba(107,179,143,0.25) 0%, rgba(107,179,143,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(107,179,143,0.25)), color-stop(100%,rgba(107,179,143,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(107,179,143,0.25) 0%,rgba(107,179,143,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406bb38f', endColorstr='#6bb38f',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
		
	/*New York*/
		.NewYork .jspTrack
		{
			background-color: rgba(45,97,128,0.25);	
		}
		
		.NewYork .jspDrag
		{
		background: -moz-linear-gradient(left, rgba(45,97,128,0.25) 0%, rgba(45,97,128,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,97,128,0.25)), color-stop(100%,rgba(45,97,128,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402d6180', endColorstr='#2d6180',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
			
		}
		
		.NewYork .jspArrow
		{
		background: -moz-linear-gradient(left, rgba(45,97,128,0.25) 0%, rgba(45,97,128,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,97,128,0.25)), color-stop(100%,rgba(45,97,128,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402d6180', endColorstr='#2d6180',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
		
		.NewYork .jspArrow.jspDisabled
		{
			background: none;
			background-color: rgba(45,97,128,0.25);
		}
		
		.NewYork .jspCorner
		{
		background: -moz-linear-gradient(left, rgba(45,97,128,0.25) 0%, rgba(45,97,128,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,97,128,0.25)), color-stop(100%,rgba(45,97,128,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(45,97,128,0.25) 0%,rgba(45,97,128,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#402d6180', endColorstr='#2d6180',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
		
	/*Cultural Reference*/
		.Reference .jspTrack
		{
			background-color: rgba(122,145,75,0.25);
		}
		
		.Reference .jspDrag
		{
		background: -moz-linear-gradient(left, rgba(122,145,75,0.25) 0%, rgba(122,145,75,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,145,75,0.25)), color-stop(100%,rgba(122,145,75,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407a914b', endColorstr='#7a914b',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
			
		}
		
		.Reference .jspArrow
		{
		background: -moz-linear-gradient(left, rgba(122,145,75,0.25) 0%, rgba(122,145,75,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,145,75,0.25)), color-stop(100%,rgba(122,145,75,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407a914b', endColorstr='#7a914b',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}
		
		.Reference .jspArrow.jspDisabled
		{
			background: none;
			background-color: rgba(122,145,75,0.25);
		}
		
		.Reference .jspCorner
		{
		background: -moz-linear-gradient(left, rgba(122,145,75,0.25) 0%, rgba(122,145,75,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,145,75,0.25)), color-stop(100%,rgba(122,145,75,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(122,145,75,0.25) 0%,rgba(122,145,75,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407a914b', endColorstr='#7a914b',GradientType=1 ); /* IE6-9 */
		background-repeat:repeat-y;
		}